.DS_Store
/docker/volumes/*
*.secret
!env.development.secret
node_modules
.idea
yarn-error.log
cdk.out
tsconfig.tsbuildinfo
*.nyc_output
*.jest_coverage

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
docker-compose.override.yml
/service/*/dist
/task/*/dist

/env/cache/*
